---
import Nevbar from "./Nevbar.astro";
import Footer from "./Footer.astro";
import favicon from "../../assets/main/favicon.png";
const { title } = Astro.props;
---

<head>
  <title>{title}</title>
  <link rel="icon" type="image/png" href={favicon} />
</head>

<body>
  <div id="content-wrapper" class="min-w-[460px]">
    <Nevbar />
    <!-- 👇 CHILDREN -->
    <slot />
    <Footer />
  </div>
</body>
