---
import Wrapper from "../components/Wrapper/Wrapper.astro";
import { Icon } from "astro-icon"; //https://icones.js.org
---

<Wrapper title="Download">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <div
        class="card w-96 bg-base-100 shadow-xl hover:scale-105 ease-in duration-500"
      >
        <figure>
          <img
            class="w-96"
            src="https://avatars.githubusercontent.com/u/118678022?s=400&u=b041c73c56a8bc3dfb8727426ec7fbc81da2c72e&v=4"
            alt="RoboreactorLogo"
          />
        </figure>
        <div class="card-body">
          <p>
            Jetson nano Ubuntu 20.04 operating system with pre-installed
            Roboreactor code generator
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Download for Jetson Nano</button>
          </div>
        </div>
      </div>
      <div
        class="card w-96 bg-base-100 shadow-xl hover:scale-105 ease-in duration-500"
      >
        <figure>
          <img
            class="w-96"
            src="https://avatars.githubusercontent.com/u/118678022?s=400&u=b041c73c56a8bc3dfb8727426ec7fbc81da2c72e&v=4"
            alt="RoboreactorLogo"
          />
        </figure>
        <div class="card-body">
          <p>
            Raspberry pi 3,4 zero 2 w raspbian operating system with
            pre-installed Roboreactor code generator
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Download for Raspberry pi</button>
          </div>
        </div>
      </div>
      <div
        class="card w-96 bg-base-100 shadow-xl hover:scale-105 ease-in duration-500"
      >
        <figure>
          <img
            class="w-96"
            src="https://avatars.githubusercontent.com/u/118678022?s=400&u=b041c73c56a8bc3dfb8727426ec7fbc81da2c72e&v=4"
            alt="RoboreactorLogo"
          />
        </figure>
        <div class="card-body">
          <p>
            Install roboreactor to other system with bash script (support most
            of linux-based OS)
          </p>
          <div class="card-actions justify-end">
            <a class="btn btn-primary" href="/docs/manualsetup">
              Manual setup guide
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Wrapper>
