---
import Wrapper from "../components/Wrapper/Wrapper.astro";
---

<Wrapper title="Roboreactor">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content w-full flex-col items-start">
      <div>
        <h1 class="text-5xl font-bold w-fit">Roboreactor</h1>
        <p class="py-6 max-w-2xl">
          Roboreactor Genflow Mini is a platform that helps you build robotic
          and automation systems faster and with rich functionality. It allows
          you to control general-purpose mobile computers to build robotics and
          automation systems in a timely manner and reduce complexity in tasks.
          With the Roboreactor node generator, you can generate code from the
          website into the robot and automation system from anywhere in the
          world with no gap in development.
        </p>
        <a class="btn btn-secondary" href="https://roboreactor.com/demo">
          Try demo now
        </a>
        <a class="btn btn-outline btn-secondary" href="/sign-up">Get Started</a>
      </div>
    </div>
  </div>
</Wrapper>
