---
import Wrapper from "../components/Wrapper/Wrapper.astro";
---

<Wrapper title="Register ">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Register now !</h1>
        <p class="py-6 max-w-lg">
          Revolutionize your robotics and automation systems with Roboreactor
          Genflow Mini. Our platform offers fast code generation, component
          management, motion planning, IoT connectivity, and UDP communication.
          Experience hassle-free and efficient development today.
        </p>
      </div>
      <div
        class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 scale-95 hover:scale-100 ease-in duration-500"
      >
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">
                First name on credit/debit cards in English
              </span>
            </label>
            <input
              type="text"
              placeholder="first name"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Last name</span>
            </label>
            <input
              type="text"
              placeholder="last name"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              type="text"
              placeholder="email"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
              type="text"
              placeholder="password"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm password</span>
            </label>
            <input
              type="text"
              placeholder="confirm password"
              class="input input-bordered"
            />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Address</span>
            </label>
            <input
              type="text"
              placeholder="address"
              class="input input-bordered"
            />
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Wrapper>
