<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-left">
    <article
      class="prose max-w-none prose-h1:text-3xl prose-h1:divider prose-h1:mb-8 prose-h1:mt-14 prose-h2:mb-2"
    >
      <slot />
    </article>
  </div>
</div>
